.header{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.fieldwidth{
    width: 12%;
}
.submitButton{
    text-align: center;
    padding: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
  }

.grid-container > div {
    text-align: center;
  }
